.titleTraining {
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
}

#titleT {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.titleRegistro {
    text-align: center;
}

#containerRecord {
    width:100%;
    height: 70%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.personalSource {
    width            : 25%;
    height           : 100%;    
    display          : flex;
    flex-direction   : column;    
    justify-content  : center;
    border           : 1px solid  #ccc;
    
}

#employeeWanted {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    text-align      : center;
}


#numEmployee {
    text-align: center;
}
#name {
    background-color : #FFFDE7;
    font-family      : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size        : 1.5rem;
    justify-content  : center;
    margin : 0 auto;
}


#department {
    background-color : #FFFDE7;
    justify-content  : center;
    margin : 0 auto;
}


.dataEmployee {
    width:100%;
    height: 8rem;
}

#picture {
    width            : 100%;
    display          : flex;
    justify-content  : center;
    align-items      : center;
}

#picture img {
    width         : 11rem;
    height        : 13rem;
    border-radius : 5%;
    border        : 5px solid #AAA;
    
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 3px #ccc,
          0.3em 0.3em 1em rgba(0,0,0,0.3); 
}
.times {
    display:flex;
    flex-direction: column;   
}

#checkIn {
    margin-bottom: 1rem;
}
.spaceButton {
    display:flex;
    justify-content: center;
    
}


.List {
   width: 70%;
   height: 90%; 
   overflow-y: scroll;
}
